*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
/* background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%); */
    background-image: url("https://images.unsplash.com/photo-1565130838609-c3a86655db61?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzh8fHdlYXRoZXIlMjBhcHB8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
}
#container{
    margin: 80px auto;
    text-align: center;
}
.heading{
    color: black;
}
ul{
    list-style: none;
}
.heading{
    margin-bottom: 20px;
}
input[type="text"]{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px 15px;
    border: none;
    box-shadow:  0px 5px 5px rgba(158, 143, 9, 0.973);
}
input[type="text"]:focus{
    outline: none;
}
.weather{
    margin-top: 20px;
    color: #fff;
    font-weight: 300;
    font-family: cursive;

}
#temp{
    margin: 10px;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 0px 3px 2px #fff;
}
#visibility{
    margin-bottom: 10px;
    font-family: fantasy;
}
